*~
/lessons.pdf
/lessons.tex
/lessons.html
/lists.scm
/sum-example.scm
/definitions-lists.scm
/foldexamples.scm
/iter-list.scm
/map-example-01.scm
/sqrt-newton.scm
/strict-map.scm
/quicksort-example.scm
/definitions-list.scm
/lib/
/map-example-02.scm
/README.pdf
/README.tex
/examples/
/exercises/
/README.html
*.log
